@media only screen and (max-width: 800px) {






 section{
 padding: 2em;
 padding-block: 6em;
 
 }
 
 
 
/*------------------------------------------------------------------------------*/
/*BARRA DE NAVEGAÇÃO*/

.navgator {
display: flex;
margin: 0;
list-style: none;
justify-content: center;
position: fixed;
top:0;
width: 100vw;
z-index: 1000;
height: 56px;
padding:0;
}

.paginator-nomes {
display: flex;
margin-block:8px;
}

.paginator-nomes li{
display: flex;
text-decoration: none;
font-weight: bold;
font-size: 0;
}

.paginator-nomes li a{
display: flex;
text-decoration: none;
align-items: center;
padding: 10px;
margin-inline: 4px;
}


.paginator-nomes li a:hover {
border-radius:4px;

}


/*ÍCONES DE CONTRASTE*/


.paginator-icon {
display: flex;
margin-block:8px;
}

.paginator-icon li {
display: flex;
align-items: center;
padding: 10px;
cursor: pointer;
margin-inline: 4px;



}

.paginator-icon li a{
display: flex;
align-items: center;

}

.paginator-icon li:hover{
border-radius:4px;
}









/*FONTES E LETRAS*/

h1 {
font-size: 3em;

}

P {
font-size: 1.2em;
}

p a {
text-decoration: none;
}





.grid-bg-sobre {
background: url(src/imagem/3.gif);
padding: 4em;
border-radius: 10px;
}

.grid-button-sobre {
margin: 2em;
  justify-content: center;
  display: flex;

}


.grid-button-sobre button {
margin-inline: 1em;

}










.grid-bg-apps img {
width: 100px;
}


.grid-bg-projetos {
display: grid;
justify-content: center;
gap: 4em;
}

.grid-bg-apps {
display: grid;
padding: 2em;
text-align: center;
border-radius: 10px;
justify-items: center;
width: -moz-available;
}


.grid-bg-apps p1 {
font-weight: bold;
margin: 0.6em;
}

.projetos p {
margin-block: 2em;
}













.grid-bg-hbl {
display: grid;



}





.grid-apps-hbl {
  display: grid;
  margin-block: 1em;
  padding: 1em;
border-radius: 10px;
gap: 4em;
}


.grid-img-hb {


}


.grid-name-hb {
display: grid;
text-align: center;
}

.grid-name-hb p1 {
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
gap:4px;
padding-bottom: 1em;

}











.grid-bg-contatos {
display: grid;

}

.grid-apps-contatos {
  display: grid;
  padding: 2em;
  margin-block: 1em;
  border-radius:10px;
  text-align: center;
  justify-content: center;
  gap:6px;
}


.grid-apps-contatos p1 {
font-size: 1.3em;
}


.grid-ctts {
display: grid;

}

.grid-ctts a{
text-decoration: none;
display: flex;
}









/*-----------------------------------------------------------------------------------------------------------------*/
img {
width: 100%;
border-radius: 10px;
}

.grid-inicial-1 {
display: grid;
}


.grid-inicial {
order: 1;
}


.img-inicial {
  display: grid;
  align-items: center;
 
}








/*BOTÕES*/

button{
border: none;
padding: 10px;
border-radius: 4px;
font-weight: bold;
cursor: pointer;
align-items: center;
display: flex;
gap: 6px;
}




/*---------------------------------------------------------------------------------------------------------------*/












}

