:root{
--accentcolor: #209fb5;
--accentcolor-dark: #74c7ec;

--text-color: #4c4f69;
--text-color-dark: #cdd6f4;

}

body {
    font-family: sans;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background: #181825;
    color: #cdd6f4;
}

.light-mode {
    background-color: #eff1f5;
    color: #4c4f69;
}

header {
    padding: 0;
    height: 60px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
}

.light-mode header {
    background: #bcc0cc;
    color: #4c4f69;
}

.dark-mode header {
    background: #1e1e2e;
    color: #cdd6f4;
    }

header nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li {
    justify-content: center;
}


header nav ul li a {
text-decoration: none;
cursor: pointer;
font: inherit;
padding-inline: 8px;
height: 40px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
gap: 4px;
}
 
 
.light-mode header nav ul li a {
    color: #4c4f69;
}

.dark-mode header nav ul li a {
   color: #cdd6f4;
}

header nav ul li a:hover {
    border-radius: 4px;
}

.light-mode header nav ul li a:hover {
    color: #4c4f69;
    background: var(--accentcolor);
}

.dark-mode header nav ul li a:hover {
   color: #1e1e2e;
   background: var(--accentcolor-dark);
}

.light-mode header nav ul li a:active {
    color: #4c4f69;
    background: var(--accentcolor);
}

.dark-mode header nav ul li a:active {
   color: #1e1e2e;
   background: var(--accentcolor-dark);
}

/* botão de contraste */

button {
text-decoration: none;
cursor: pointer;
font: inherit;
border: none;
border-radius: 4px;
padding: 8px;
height: 40px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
gap: 4px;
}

.light-mode button {
background: var(--accentcolor);
color: #4c4f69;
}

.dark-mode button {
background: var(--accentcolor-dark);
color: #1e1e2e;
}






/* PÁGINA INICIAL */

/*INICIAL*/
.light-mode #inicial {
    display: grid;
    font-size: 1rem;
    padding: 30px;
    padding-top: 90px;
    justify-items: center;
}

.dark-mode #inicial {
    display: grid;
    font-size: 1rem;
    padding: 30px;
    padding-top: 90px;
    justify-items: center;
}




section {
    padding: 60px;
    
}

.light-mode h1 {
font-size: 2rem;
color: var(--accentcolor);
}

.dark-mode h1 {
font-size: 2rem;
color: var(--accentcolor-dark);
}

.light-mode p {
color: var(--text-color)
}

.light-mode h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: var(--text-color);
}

.dark-mode h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: var(--text-color-dark);
}









.dark-mode ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.app-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.app {
    background-color: var(--header-bg);
    padding: 15px;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    margin: 15px;
}

.app:hover {
    margin-top: -3px !important;
    background-color: var(--header-bg);
    padding: 15px;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    color: #FAB387;
    margin: 15px;
}




.app img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.light-mode footer {
    background: #4c4f69;
    text-align: center;
    padding: 10px 0;
}

.dark-mode footer {
    background: #11111b;
    text-align: center;
    padding: 10px 0;
}


footer p {
    margin: 5px 0;
}





/*imagens*/

img.img1 {
max-width: 700px;
width: 100%;
height: 100%;
border-radius: 8px;
}













@media only screen and (max-width: 800px) {



header nav ul li a {
 font-size: 0;
 gap: 0px;
 padding-inline: 8px;
}

body {
    display: fixed;
    padding-left: 0px;
    padding-right: 0px;
}



 

header {
bottom: 0;
  
}





}












